<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>FinTrack Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- BootStrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/theme.css">
</head>

<body class="bg-light">

  <!-- Sidebar -->
  <div class="sidebar d-flex flex-column p-3">
    <h4 class="text-info mb-4">FinTrack</h4>
    <!-- <img src="/images/logo-removebg.png" alt="logo" width="120px" height="auto"> -->
    <a href="/admin/dashboard" class="nav-link text-light mb-2">
      <i class="fas fa-chart-line me-2"></i> Dashboard
    </a>

    <a href="/admin/users" class="nav-link text-light mb-2">
      <i class="fas fa-users me-2"></i> Users
    </a>

    <a href="/admin/transactions" class="nav-link text-light mb-2">
      <i class="fas fa-wallet me-2"></i> Transactions
    </a>
  </div>

  <!-- Main -->
  <div class="main">

    <!-- Topbar -->
    <div class="topbar d-flex justify-content-between align-items-center px-3">
      <div class="d-flex align-items-center gap-2">
        <button id="menuBtn" class="btn btn-sm btn-dark d-md-none">☰</button>
        <h5 class="mb-0 text-white">Admin Dashboard</h5>
      </div>

      <a href="/admin/logout" class="text-info text-decoration-none">
        <i class="fas fa-sign-out-alt me-1"></i> Logout
      </a>
    </div>

    <!-- Content -->
    <div class="content container-fluid py-3">
      <%- body %>
    </div>

  </div>

  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/js/main.js"></script>

</body>

</html>